/* line 2, scss/style.scss */
#main article {
  margin-bottom: 50px;
}
/* line 4, scss/style.scss */
#main article h1 {
  font-size: 140%;
}
/* line 7, scss/style.scss */
#main article p, #main article ul {
  margin-bottom: 1.5em;
}
/* line 11, scss/style.scss */
#main article ul li.list1 {
  font-size: 110%;
}
/* line 14, scss/style.scss */
#main article ul li.list2 {
  font-size: 120%;
}
/* line 17, scss/style.scss */
#main article ul li.list3 {
  font-size: 130%;
}
/* line 20, scss/style.scss */
#main article ul li.list4 {
  font-size: 140%;
}
/* line 23, scss/style.scss */
#main article ul li.list5 {
  font-size: 150%;
}
/* line 27, scss/style.scss */
#main article p.notes {
  color: red;
}
