body {
  padding: 0;
  margin: 0;
}

/*===========================
共通部分
===========================*/
.button {
  color: #FFF;
  background: #2c366d;
  border: 2px solid #2c366d;
  padding: 0 40px;
  line-height: 40px;
  font-size: 21px;
  margin: 10px;
  outline: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.button,
.button::before,
.button::after {
  box-sizing: border-box;
  /*0.3秒かけてヌルっと動かす*/
  transition: all 0.3s;
}

.button::before,
.button::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}

/*===========================
type1
===========================*/
.button.type1:hover {
  background: #46BED6;
  border-color: #46BED6;
}

/*===========================
type2
===========================*/
.button.type2:hover {
  color: #46BED6;
  background: #FFF;
  border-color: #46BED6;
}

/*===========================
type3
===========================*/
.button.type3::before,
.button.type3::after {
  top: 0;
  width: 50%;
  height: 100%;
  background: #2c366d;
}

.button.type3::before {
  left: 0;
}

.button.type3::after {
  right: 0;
}

.button.type3:hover {
  color: #46BED6;
  background: #FFF;
  border-color: #46BED6;
}

.button:hover.type3::before,
.button:hover.type3::after {
  width: 0;
}

/*===========================
type4
===========================*/
.button.type4::before,
.button.type4::after {
  width: 100%;
  height: 50%;
  left: 0;
  background: #2c366d;
}

.button.type4::before {
  top: 0;
}

.button.type4::after {
  bottom: 0;
}

.button.type4:hover {
  color: #46BED6;
  background: #FFF;
  border-color: #46BED6;
}

.button:hover.type4::before,
.button:hover.type4::after {
  height: 0;
}

/*===========================
type5
===========================*/
.button.type5 {
  color: #46BED6;
  background: #FFF;
  border-color: #46BED6;
}

.button.type5::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.5);
}

.button.type5:hover {
  color: #FFF;
  border-color: #2c366d;
}

.button:hover.type5::after {
  background: #2c366d;
  transform: scale(1);
}
