body {
	width: 800px;
	margin: 0 auto;
	min-height: 100vh;
	display: grid;
	grid-template:
		"header header" 150px
		"content aside " 1fr
		"footer footer" 300px
		/ 1fr 200px;
}
header {
	grid-area: header;
}
main {
	grid-area: content;
}
aside {
	grid-area: aside;
}
footer {
	grid-area: footer;
}
