/* スクロールアニメーション用の余白設定 */
.text {
	margin-bottom: 1000px;
}

/* ===============================
 スクロールアニメーションの設定
 スクロール方向の変更も基本ここ
 =============================== */
/* 初期状態での見え方 */
.js-fadeIn {
	/* 画像を完全に隠す */
	opacity: 0; /* 透明度ゼロ */
	visibility: hidden; /* ボックスを非表示に */
	/* 要素の表示位置を移動 */
	transform: translateY(40px); /* Y方向に40px移動 */
	transition: all 1s; /* 時間的変化を全て1秒に */
}
/* スクロール後の見え方 */
.js-fadeIn.is-show {
	opacity: 1; /* 透明度１（完全に不透明） */
	visibility: visible; /* ボックスを表示 */
	transform: translateY(0px); /* Y方向に0px移動 */
}
